* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

$line: #f0f0f0;
$shadow: rgba(0,0,0,0.05);

.main-container {
  width: 100%;
  max-width: 800px;
  border: 1px solid $line;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 4px 12px $shadow;
  margin: 2em auto;
  
  .input-container {
    display: flex;

    input-area {
      flex: 1;
    }
  }
}
